
body {
    margin: 0px 15px 0px 0px;
}
div#nomination {
    background-color: #F7941E;
    width: 100%;
    margin: 16px 0px 9px 0px;
    padding: 9px 160px 9px 160px;
    box-sizing: border-box;
}

div#nomination div {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 0px;
    text-align: center;
    border: 1px solid #FBCA8F;
}

div#nomination div:hover {
    color: black;
}

div.upper-container {
    margin: 0px 150px 0px 150px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #F7941E;
}

/* CSS DEI LOGHI SOCIAL */
div.social-icon {
    margin-top: 15px;
    margin-right: 320px;
    float: left;
}

img.social-logo {
    float: left;
    width: 30px;
    margin-right: 4px;
}

img.facebook-image, img.tiktok-image {
    margin-top: 3px;
    margin-left: 5px;
}

img.bsky-image {
    margin-top: 2px;
}

img.tiktok-image {
    width: 24px;
}

img.instagram-image {
    width: 34px;
    margin-left: 0px;
}

img.apple-image {
    width: 28px;
    margin-top: 3px;
}

/* CSS DELLA TESTATA */
img#logo {
    float: left;
    margin-right: 190px;
}

button {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    float: left;
    background-color: #F7941E;
    color: white;
}

div.header-actions div {
    float: left;
    margin-left: 20px;
    margin-top: 26px;
}

ul#nav-list {
    list-style-type: none;
    margin-right: 25px;
    margin-left: 45px;
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    gap: 8px;
    clear: both;
    text-align: center;
    font-size: small;
    font-weight: bold;

}

ul#nav-list li {
    margin-top: 10px;
    padding: 8px;
    /*padding-bottom: 0px;*/
}

ul#nav-list  li:hover {
    color: white;
    background-color: #F7941E;
}







/*@media screen and (max-width: 700px) {*/

/*}*/