
body {
    margin: 0px 15px 0px 0px;
}
div#nomination {
    background-color: #F7941E;
    width: 100%;
    margin: 16px 0px 0px 0px;
    padding: 9px 160px 9px 160px;
    box-sizing: border-box;
}

div#nomination div {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 0px;
    text-align: center;
    border: 1px solid #FBCA8F;
}

div#nomination div:hover {
    color: black;
}

div.upper-container {
    margin: 0px 150px 0px 160px;
}

header {
    background-color: white;
    position: sticky;
    top: 0px;
    margin-top: 9px;
    width: 100%;
    border-bottom: 1px solid #F7941E;
}

div.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* CSS DEI LOGHI SOCIAL */
img.social-logo {
    float: left;
    width: 30px;
    margin-right: 4px;
}

img.facebook-image, img.tiktok-image {
    margin-top: 3px;
}

img.bsky-image {
    margin-top: 2px;
}

img.tiktok-image {
    width: 24px;
}

img.instagram-image {
    width: 34px;
}

img.apple-image {
    width: 28px;
    margin-top: 3px;
}

/* CSS DELLA TESTATA */
.header-actions button {
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    background-color: #F7941E;
    color: white;
}

.header-actions button#search {
    background-color: transparent;
    border: none;
}

div.header-actions {
    display: flex;
    gap: 20px;
}

ul#nav-list {
    list-style-type: none;
    margin-left: 25px;
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    gap: 8px;
    clear: both;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

ul#nav-list li {
    margin-top: 10px;
    padding: 8px;
}

ul#nav-list  li:hover {
    color: white;
    background-color: #F7941E;
}

/* CSS PRIMA SEZIONE DELLA PAGINA*/
section#main {
    display: flex;
    gap: 40px;
    margin-right: 250px;
    margin-top: 40px;
}

figure#main-image {
    margin: 0;
}

figure figcaption {
    margin-top: 10px;
    color: #515151;
    font-weight: bold;
    font-size: 15px;
}

figure figcaption:hover {
    text-decoration: underline;
}

h1#main-title {
    font-size: 25px;
}

p {
    font-style: italic;
    font-size: larger;
}

span b {
    color: #F7941E;
}

/* CSS PER ASIDE*/
aside#events {
    width: 320px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.event-header h2 {
    color: #F7941E;
    font-size: 24px;
    font-weight: bold;
}

.event-header span {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: lighter;
}

.event-body {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

.event-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

.event-info p {
    font-size: 18px;
    font-style: normal;
}

.event-tabs {
    display: flex;
    gap: 4px;
    background-color: #ddd;
    padding: 4px;
    border-radius: 4px;
}

.tab {
    flex: 1;
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
}

.tab.active {
    background-color: white;
}

.events-search {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.events-search input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.events-search button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    margin-top: 0;
    height: auto;
    float: none;
}

.search-btn {
    width: 100%;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: none;
    height: auto;
    margin-top: 0;
}
span#submit {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

/* CSS DELLE NOTIZIE IN SECONDA PAGINA*/
#back-page-news {
    display: flex;
    gap: 35px;
    margin-top: 30px;
    max-width: 850px;
    margin-bottom: 200px;
}

.back-page-image {
    flex: 1;
}

.back-page-image img {
    width: 100%;
    height: auto;
    display: block;
}

.back-page-image h2 {
    font-size: 20px;
    margin: 12px 0 6px 0;
    font-weight: bold;
}

.back-page-image p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* CSS DELLE LATEST NEWS, TRENDING NEWS e LATEST PHOTO*/
.latest-header, .trending-header, .latest-photo-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.latest-header h2, .trending-header h2, .latest-photo-header h2 {
    color: #F7941E;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 5px;
}

.latest-header .line, .trending-header .line, .latest-photo-header .line {
    flex: 1;
    height: 1px;
    background-color: #333;
}

.latest-grid, .trending-grid, .latest-photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.latest-grid img, .trending-grid img, .latest-photo-grid img {
    width: 100%;
    height: auto;
    display: block;
}

.latest-grid h2, .trending-grid h2, .latest-photo-grid h2 {
    font-size: 20px;
    font-weight: bold;
}

#trending-section, #latest-photos-section {
    margin-top: 40px;
}

/* CSS NOTIZIE DA SECONDA PAGINA*/
#categories-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 370px;
    row-gap: 25px;
    margin-top: 180px;
    margin-right: 15px;
}

.categories-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}

.category-header, .best-of-orlando-header, .digital-issue-header, .orlando-guides-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.category-header h2, .best-of-orlando-header h2, .digital-issue-header h2, .orlando-guides-header h2 {
    color: #F7941E;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 5px;
}

.category-header .line, .best-of-orlando-header .line, .digital-issue-header .line, .orlando-guides-header .line {
    flex: 1;
    height: 1px;
    background-color: #333;
    display: block;
}

.categories-image {
    display: flex;
    gap: 16px;
    align-items: center;
}

.categories-image img {
    flex-shrink: 0;
    width: 130px;
    height: 90px;
    object-fit: cover;
}

.categories-image h2 {
    font-size: 20px;
    margin: 0px;
    line-height: 1.4;
    font-weight: bold;
}

.more-btn {
    width: 100%;
    background-color: #F7941E;
    color: white;
    border: none;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: none;
    height: auto;
    margin-top: 20px;
}

.more-btn:hover {
    background-color: black;
    transition: background-color 0.2s linear;
}

/* CSS BEST OF ORLANDO e DIGITAL ISSUE*/
#best-digital-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

#best-of-orlando-section, #digital-issue-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}

.best-of-orlando-categories {
    display: flex;
    align-items: flex-start;
}

.best-of-orlando-categories img {
    flex-shrink: 0;
    width: 140px;
    height: auto;
}

.best-of-orlando-categories li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.digital-issue-cover {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

/* CSS GUIDES */
#guides-newsletter-wrapper {
    display: flex;
    gap: 30px;
    margin-top: -40px;
    align-items: flex-start;
}

#orlando-guides-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.orlando-guides-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 5px;
}

.orlando-guides-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orlando-guide-title-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
}

.more-link {
    cursor: pointer;
    font-weight: lighter;
}

.orlando-guide-image {
    position: relative;
    margin: 0;
}

.orlando-guide-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

/*.orlando-guide-image figcaption {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background: rgba(0, 0, 0, 0.55);*/
/*    color: white;*/
/*    padding: 10px;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    margin-top: 0px;*/
/*}*/

/* CSS NEWSLETTER */
#newsletter-section {
    margin-top: 70px;
    width: 590px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding-top: 20px;
    padding-bottom: 30px;
}

.newsletter-tagline {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    /*margin: 0;*/
    color: black;
    margin-bottom: -5px;
}

.newsletter-subtitle {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    color: #DD3333;
    /*margin: 0;*/
}

.newsletter-form {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.newsletter-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}

.signup-btn {
    background-color: #C0392B;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    height: auto;
    float: none;
    margin-top: 0;
    border-radius: 4px;
}




/*@media screen and (max-width: 700px) {*/

/*}*/